/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2017, 4:31:48 PM
    Author     : theon
*/
/*header css*/
#header{
    width:100vw;
    height:6vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2%;
    background-color: white;
}
.logo{
    height:90%;
    float: left;
    margin-left: 2vw;
}

.menu{
    float: right;
    margin-top:.6vmax;
    margin-right: 4vw;
}
.menu a{
    transition: color 0.75s ease;
    font-size: 1.5vw;
    font-weight: 400;
    color: #0b2b40;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-decoration: none;
}
.menu a:hover{
    color: #3498db;
}
#page_title{
    margin-left: 10vw;
    color: white;
}
#page_title h1{
    font-size: 4.5vw;
    margin: 2vh 0vh 0vh 0vh;
    letter-spacing: .2vw;
}
#page_title h2{
    font-size: 1.5vw;
    letter-spacing: .8vw;
    margin-top: 1vh;
}
/*home page css*/
#home_demos{
    width:80vw;
    margin-left: 10vw;
    color: white;
}
.slide{
    width:60vw;
    height:100%;
    background-color: #3498db;
}
.demo_text{
    width:36%;
    color:white;
    float:left;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.5%;
}
.demo_title{
    font-weight: 700;
    font-size: 2.5vw;
    margin-bottom: 2.5vh;
}
.slide img{
    width: 60%;
    float:left;
}

/*about us css*/
#about{
    float:left;
    background-color: white;
    font-size: 1.5vw;
    color: #2384c5;
    width:100%;
    padding-bottom: 3vh;
    height: 62vh;
}
#about h1{
    margin: 3vh 0vh 6vh 0vh;
    font-size: 6vw;
    text-align: center;
}
#about .textb{
    text-align: center;
/*    margin: 3vh 15vw 3vh 15vw;*/
    margin: 3vh 10vw 3vh 5vw;
    width:55vw;
}
#tweets{
    width:25vw;
    height:90%;
    float: right;
    margin: 5vh 5vw 0vh 0vw;
    overflow-y: scroll;
}

/*people css*/
#people{
    background-color: #3498db;
    float: left;
}
#people h3{
    font-size: 2vw;
    color: white;
    margin: 0vh 0vw 0vh 0vw;
}
#people ul{
    list-style-type: none;
    margin-left: 15vw;
    margin-right: 15vw;
    float: left;
    padding-left: 0vw;
}
#people li{
    float:left;
    margin: 1vh 1vw 1vh 1vw;
    
}
#people .thumbnail{
    /*min-width: 10vw;*/
    margin-left: 0vw;
    margin-right: 0vw;
}
#people .thumbnail li{
    margin: 1vh 2vw 1vh 0vw;
    float:left;
    width:10vw;
    position: relative;
    top: 0px;
    left: 0px;
}
#people .thumbnail li .pic{
    width: 100%;
    border: .75vh solid white;
    position: relative;
    height: 13.71381vw;
}
#people .thumbnail li img{
    width: 100%;
}
.infob{
    transition: opacity .5s ease, z-index .5s ease;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 1vw;
    color: white;
    background-color: #2384c5;
	border: none;
    opacity:0;
    z-index: -2;
    width: 92%;
    height: 94%;
    padding: 4% 4% 4% 4%;
}
#people .thumbnail li img:hover + .infob, .infob:hover, .pic:hover + .infob{
    opacity: 1;
    z-index: 2;
    border-bottom: .75vh solid white;
}