/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2017, 4:31:48 PM
    Author     : theon
*/

html{
    font-family: "Josefin Sans";
    font-style: normal;
    background-color: #2384c5;
    overflow-x: hidden;
}
body{
    margin: 0 0 0 0;
}
a{
    text-decoration: none;
    color: white;
}

/*header css*/
#header{
    width:100vw;
    height:6vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2%;
    background-color: white;
}
.logo{
    height:90%;
    float: left;
    margin-left: 2vw;
}

.menu{
    float: right;
    margin-top:.6vmax;
    margin-right: 4vw;
}
.menu a{
    transition: color 0.75s ease;
    font-size: 1.5vw;
    font-weight: 400;
    color: #0b2b40;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-decoration: none;
}
.menu a:hover{
    color: #3498db;
}
#page_title{
    margin-left: 10vw;
    color: white;
}
#page_title h1{
    font-size: 4.5vw;
    margin: 2vh 0vh 0vh 0vh;
    letter-spacing: .2vw;
}
#page_title h2{
    font-size: 1.5vw;
    letter-spacing: .8vw;
    margin-top: 1vh;
}
/*footer css*/
#footer{
    background-color: white;
    height:9vh;
    float:left;
    width:97vw;
    overflow: hidden;
    padding: 2vh 3vw 2vh 3vw;
}
#footer #tweets{
    padding: 2vh 2vw 2vh 2vw;
    border: 1vw solid #3498db;
    border-radius: 1vw;
    float: right;
    width: 25vw;
    max-height:50vh;
    margin: 5vh 5vw 5vh 5vw;
    overflow-y: scroll;
    /*not sure if I want this here or somewhere else*/
    display:none;
}
#footer #twitter{
    margin: 3vh 3vw 3vh 3vw;
    background-color: white;
    float:right;
    /*width:100%;*/
    overflow: hidden;
}