/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2017, 9:49:16 PM
    Author     : theon
*/
#mica{
    float: left;
    margin: .6vh 0vw 0vh 1.6vw;
    letter-spacing: .45vw;
    font-size: 1.8vw;
    font-weight: 700;
}
#mica a{
    margin: 0 0 0 0;
    color: #2384c5 !important;
    text-decoration: none;
}
#mica a{
    margin: 0 0 0 0;
    color: #2384c5 !important;
    text-decoration: none;
}

/*current projects css*/

ul{
  min-height: 67vh;  
  /*list-style: none;*/
}

li{
    margin-top:10vh;
    margin-bottom:10vh;
    display: inline-block;
}

.proj_text{
    height: 100%;
    width:82%;
    color:white;
    padding-left: 12%;
}
.proj_desc{
    width:60%;
    display: inline-block;
}
.proj_title{
    display: inline-block;
    float:left;
    width: 39%;
    font-weight: 700;
    font-size: 2.5vw;
    margin-bottom: 2.5vh;
}

/*submit*/
#submit{
    display: none;
    float:left;
    background-color: white;
    font-size: 1.5vw;
    color: #2384c5;
    width:100%;
    padding-bottom: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
#submit h1{
    margin-bottom: 2vh;
    width:50vw;
    float:left;
}
#submit #text{
    margin-top:.75vh;
    margin-bottom:.5vh;
    float: left;
    font-size: 70%;
    width: 50vw;
}
#submit #link{
    font-size:1.5vh;
    width: 25vw;
    height :2vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    background-image: url("../imgs/link-bg.png");
}
#submit textarea{
    font-size:2vh;
    font-family: "Josefin Sans";
    font-weight: 700;
    text-decoration: none;
    color:white;
    background-image: url("../imgs/desc-bg.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-color 1s;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left:.5vw;
    width: 35vw;
    height :20vh;
    resize: none;
    border: .5vh solid #3498db;
    border-radius: 1.5vh;
    outline: none;
}
#submit textarea:focus{
    background-color: #98cbed;
}
#submit img{
    margin-top:10vh;
    margin-right: 20vw;
    float:right;
    width: 22vw;
}

.seperator{
    float: left;
    width:94%;
    color:white;
    background-color: white;
    height:4px;
    border-radius: 5px;
    margin-left:2.9%;
    margin-top: 2%;
    margin-bottom: 2%;
}
